::ng-deep .aboutMeCard{
    background-color: #DCCFED;

    .image-array-container{
        img {
            width: 4rem;
            height: 4rem;
            padding: 0.3rem;
            margin: 0.2rem;
            border-radius: 25%;
          }
    }
  }