<p-card styleClass="aboutMeCard">
  <div class="grid">
    <div class="col-8 pl-6">
      <h3 class="">About me</h3>
      <p class="text-xl">
        I'm a FullStack developer with a deep background in Angular, from
        AngularJS to Angular 18, and I've been in the IT game since 2014. I’ve
        spent 10 years building mobile apps with Ionic and 3 years with Flutter,
        and I have 5 years of experience with Node.js and 8 years with Firebase.
        I'm fluent in English, so I can jump into English meetings with no
        problem. I also know my way around Agile methodologies like Kanban and
        Scrum, making sure we deliver quality software efficiently.
      </p>
    </div>
<!--     <div class="col-4"></div>
    <div class="col-8"></div> -->
    <div class="col-4 pl-6">
        <h3>
            My tech Stack
        </h3>
        <div class="image-array-container">
            <img *ngFor="let tech of imagesArr" class="" [src]="tech.path" [pTooltip]="tech.name" tooltipPosition="bottom">
        </div>
    </div>
  </div>
</p-card>
