<footer>
  <p-card styleClass="footerCard">
    <form (ngSubmit)="sendEmail()" #sendEmailForm="ngForm">

    <div class="grid">
      <div class="col-6">
        <h1>Wanna contact me?</h1>
        <h2>Just send me a message</h2>
      </div>
      <div class="col-6">
        <div class="grid">
          <div class="col-12">
            <div class="flex flex-column gap-2">
              <label htmlFor="visitanteName">Your name</label>
              <input
                id="visitanteName"
                aria-describedby="username-help"
                pInputText
                name="visitanteName"
                [(ngModel)]="visitanteObj.visitanteName"
                required
              />
            </div>
          </div>
          <div class="col-12">
            <div class="flex flex-column gap-2">
              <label htmlFor="visitanteEmail">Your email</label>
              <input
                pInputText
                id="visitanteEmail"
                aria-describedby="username-help"
                name="visitanteEmail"
                [(ngModel)]="visitanteObj.visitanteEmail"
                email
                required
              />
            </div>
          </div>
          <div class="col-12">
            <div class="flex flex-column gap-2">
              <label htmlFor="visitanteMessage">Your Message</label>
              <textarea
                id="visitanteMessage"
                rows="5"
                cols="30"
                pInputTextarea
                name="visitanteMessage"
                [(ngModel)]="visitanteObj.visitanteMessage"
                required
              ></textarea>
            </div>
          </div>
          <div class="col-12">
            <button pButton pRipple label="Send it to me"
            [disabled]="sendEmailForm.invalid"
            type="submit"
            [class.p-button-success]="sendEmailForm.valid"
            [class.p-button-danger]="sendEmailForm.invalid"
            ></button>
          </div>
        </div>
      </div>
    </div>
  </form>
  </p-card>
</footer>
