:host {
  display: block;
}
@import "../../../scss/mixins";

::ng-deep .headerToolbar {
  border-color: transparent;
  @include gradient-background;
  font-family: "Quantico", sans-serif !important;
  .p-toolbar {
    color: white; // Optional: to ensure text is readable
  }
  .anchor-btn {
    font-family: "Quantico", sans-serif;
    color: white;
  }
  .hireMe-btn {
    color: black;
    background-color: white;
    font-family: "Quantico", sans-serif;
  }
}
