<!-- <Header>
  <p-toolbar styleClass="headerToolbar">
    <div class="p-toolbar-group-start"></div>
    <div class="p-toolbar-group-center">
      <div *ngFor="let item of buttonArr">
        <button
          pButton
          pRipple
          [label]="item.name"
          class="p-button-success p-button-text anchor-btn"
        ></button>
      </div>
    </div>
    <div class="p-toolbar-group-end">
      <button
        pButton
        pRipple
        label="Hire Me"
        icon="fa-solid fa-envelope"
        class="p-button-secondary hireMe-btn"
      ></button>
    </div>
  </p-toolbar>
</Header>
 -->