<div class="homeContainer">
  <div class="subheader">
    <div class="left-side">
      <div class="text-white text-3xl">Hello there👋,</div>

      <div class="text-7xl title">I'm a FrontEnd Developer</div>
    </div>
    <div class="right-side">
      <img src="https://firebasestorage.googleapis.com/v0/b/portfolio-29a8a.appspot.com/o/foto.png?alt=media&token=375601ef-7873-4bed-ba6d-843ed7e2bab6" alt="" srcset="" />
      
    </div>
  </div>

  <div class="bottom-experience">
    <div class="years-of-experience">
      <div class="number pr-1">10</div>
      <div class="text">years of experience</div>
    </div>
    <div class="years-of-experience">
      <div class="number pr-1">14+</div>
      <div class="text">Projects Completed worldwide</div>
    </div>
    <div class="main-stack">
      <div class="text">Main stack:</div>
      <div class="stack-images">
        <img
          *ngFor="let tech of imagesArr"
          [src]="tech.path"
          [pTooltip]="tech.name"
          tooltipPosition="bottom"
        />
      </div>
    </div>
  </div>
</div>
