.homeContainer {
  background-image: linear-gradient(
    to right bottom,
    #331c52,
    #311c4c,
    #2e1c46,
    #2c1c40,
    #291c3a
  );
  display: flex;
  justify-content: center;
  flex-direction: column;
  
  .subheader {
      padding-left: 3rem;
    display: flex;
    justify-content: space-between;
    .left-side {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 20%;
      .title {
        font-weight: bold;
        color: #e1ebed;
      }
    }
    .right-side {
      img {
        width: 20rem;
      }
    }
  }
  .bottom-experience {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0.5rem 0;
    padding-left: 3rem;
    background-color: #291c3a;
    .years-of-experience {
      display: flex;
      align-items: center;
      .number {
        font-weight: bold;
        font-size: 3rem;
        color: #e1ebed;
      }
      .text {
        width: 5rem;
        font-weight: lighter;
        color: #e1ebed;
      }
    }
    .main-stack {
      display: flex;
      align-items: center;
      justify-content: center;
      .text {
       // width: 10rem;
        color: #e1ebed;
      }
      .stack-images {
        img {
          width: 3rem;
        }
      }
    }
  }
}
