<app-toast></app-toast>
<app-header></app-header>
<app-home></app-home>
<app-about></app-about>
<div class="p-2">
</div>
<app-timeline></app-timeline>
<div class="p-2">
</div>
<app-footer></app-footer>
