<p-card styleClass="timelineCard">
  <div class="grid">
    <div class="col-12 pl-6">
      <h3 class="">My Latest Jobs</h3>
    </div>
    <div class="col-12">
      <p-timeline
        [value]="events"
        align="alternate"
        styleClass="customized-timeline"
      >
        <ng-template pTemplate="marker" let-event>
          <button
            pButton
            pRipple
            icon="fa-solid fa-circle"
            class="p-button-icon-only p-button-rounded"
          ></button>
        </ng-template>
        <ng-template pTemplate="content" let-event>
          <p-card
            [header]="event.positionInTheCompany + ' at ' + event.companyName"
            [subheader]="event.date"
          >
            <p class="text-justify">
             {{event.description}}
            </p>
          </p-card>
        </ng-template>
      </p-timeline>
    </div>
    <div class="col-12">
        <div
  class="flex justify-content-center text-4xl text-center align-items-center"
>
<span>
    Would you like to know more? 
</span>  

  <a
    pButton
    href="https://firebasestorage.googleapis.com/v0/b/portfolio-29a8a.appspot.com/o/Curriculum(Ingles)V3-FullVersion.pdf?alt=media&token=4138223c-be77-45d9-a6bb-4d996a5c08f7"
    target="_blank"
    pRipple
    icon="fa-solid fa-file-arrow-down"
    class="p-button-text p-button-icon-only filedownload"
  ></a>
  <span>
    Download my resume then 😁
  </span>
</div>
    </div>
  </div>
</p-card>

