/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/tailwind-light/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";
@import "@fortawesome/fontawesome-free/css/all.css";
@import "@fontsource-variable/exo-2";
//@import "./scss/primeflex";
@import "./scss/nebularGradient";
* {
  font-family: "Exo 2 Variable", sans-serif;
}
html,
body {
  //height: 100%;
 // font-size: 62.5%;
  background-color: #331c52;
}
.nebular {
  &-primary {
    box-shadow: none !important;
    @include nebularPrimary;
  }
  &-success {
    box-shadow: none !important;
    @include nebularSuccess;
  }
  &-info {
    box-shadow: none !important;
    @include nebularInfo;
  }
  &-warning {
    box-shadow: none !important;
    @include nebularWarning;
  }
  &-danger {
    box-shadow: none !important;
    @include nebularDanger;
  }
  &-dark {
    box-shadow: none !important;
    @include nebularDark;
  }
}
