// src/styles/_mixins.scss

@mixin gradient-background {
  background-image: linear-gradient(
    to right,
    #8121d0,
    #7023b8,
    #61239f,
    #522287,
    #442070,
    #3e1f64,
    #371e58,
    #311c4c,
    #2f1c47,
    #2d1c43,
    #2b1c3e,
    #291c3a
  );
}
